@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(http://fonts.gstatic.com/s/play/v7/PeTTkHQKj5rUPVxkIGAoaw.ttf) format('truetype');
}
