* {
    margin: 0;
    padding: 0px;
    /*font-family: 'ProximaNova-Regular', sans-serif !important;*/
}
.mktoImg {
    margin-top: 30px !important;
}
.mktoForm .mktoButtonRow {
    width: 25%;
    margin: 0 auto;
    display: block;
}
.mktoForm .mktoRadioList, .mktoForm .mktoCheckboxList {
    padding: 0.1em;
    float: left;
}
.mktoFormRow {
    /*height: 0;*/
}
#form {
    max-width: 410px;
    width: 100% !important;
    margin: 0 auto;
}
input {
    font-size: 18px;
    min-height: initial;
    border-radius: 2px;
    line-height: 20px;
    padding: 11px 30px 12px;
    border: none;
    margin-bottom: 10px;
    background-color: #e9f0f2;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.mktoForm .mktoFieldWrap {
    /*border-bottom: 1px solid #dddddd;*/
    border: none;
    padding-bottom: 5px;
}
.mktoText {
    padding-left: 15px;
    padding-right: 15px;
}
.mktoFieldDescriptor .mktoFormCol {
    height: 0;
}
#h {
    background: #fff;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mtb {
    margin-top: 0;
    margin-bottom: 15px;
}
.mktoForm .mktoButtonWrap.mktoMinimal .mktoButton {
    background: #800000;
    border: 1px solid #bbb;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #fff;
    font: bold 14px arial, sans-serif;
    padding: 12px 0 12px;
    text-align: center;
    /*text-shadow: 0 1px 0 #fff;*/
    text-shadow: none;
    width: 150px;
}
.mt {
    margin-top: 30px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: bold;
}
p {
    padding: 0;
    margin-bottom: 12px;
    font-family: Arial, sans-serif;
    font-weight: initial;
    font-size: 16px;
    line-height: 28px;
    color: #000;
    margin-top: 10px;
}
@media (max-width: 480px) {
    .mktoFormRow {}
    .mktoForm .mktoFormCol .mktoLabel {
        text-align: left;
        width: initial;
        float: left;
        margin-top: 10px;
    }
    .mktoForm .mktoRadioList, .mktoForm .mktoCheckboxList {
        width: initial;
        margin-top: 10px;
        float: right !important;
    }
    .mktoForm .mktoRequiredField label.mktoLabel {
        margin-bottom: 5px;
    }
    .mktoButtonRow {
        top: 60px;
    }
    .mktoForm .mktoClear::last-child {
        clear: none;
        float: none;
    }
    .mt {
        margin-top: 0;
    }
    .mktoImg {
        margin-top: 0 !important;
    }
}



#form .mktoForm{
  margin-left: -85px;
}

@media (max-width: 600px) {
  #form .mktoForm{
    margin-left: 0px;
  }
}


.mktoFormCol{
  float: left;
}

.mktoButtonRow{
position: inherit;

}



legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: inherit;
    color: #333;
    border: 0;
    border: none;
    padding-left: 100px;
}

.mktoForm legend {
    margin-left: -60px !important;
    padding-bottom: 20px !important;
    color: inherit;
    color: #000000 !important;
}

.mktoForm fieldset{
  padding-left: 58px;
}


.mktoForm fieldset {
    /*border: 1px solid #aeb0b6;*/
    border: none;
}

.mktoButtonRow{
  padding-top: 20px !important;
  border-top: 1px solid #800000;
  width: 100% !important;
}


.mktoFormRow{
  margin-left: -5px !important;
}

.mktoForm input[type=email]{
  margin-bottom: 30px;
}
