/*** uncss> filename: https://use.typekit.net/c/617e46/1w;ProximaNova-Regular,2,2clzCB:W:i3,2clzCG:W:i4,2clzCJ:W:i6,2clzC6:W:i7,2clzC8:W:i8,2clzC4:W:i9,2clzCK:W:n1,2clzC9:W:n3,2clzCF:W:n4,2clzCH:W:n6,2clzC5:W:n7,2clzC7:W:n8,2clzC3:W:n9/k/thinktank.uchicago.edu?3bb2a6e53c9684ffdc9a9bf0195b2a626aa145229785569535bc08370bb6b547afd24fbbb0d15792f114ece5fdad04b3a83f7b9004cfc0b0fc4f3ef96b0753301642676eabbc926a304c0244d3587be6a7395c61412bada6a61de74f98d0c1f78eae7dfa5a6032196514c55e49229a4b1684d9f62334d7aa313aa7700d92d8f0a83791221d73e1666a78b4a7ffd0ed4ba9bc83fd8058a4f81b0ba5db1999dd96971950 ***/

<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>403 - Forbidden</title>
	</head>
	<body>
		<h1>403 - Forbidden</h1>
	</body>
</html>

/*** uncss> filename: https://fonts.googleapis.com/css?family=PT+Serif:400,
400italic,
700,
700italic ***/
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url("https://fonts.gstatic.com/s/ptserif/v8/EgBlzoNBIHxNPCMwXaAhYPesZW2xOQ-xsNqO47m55DA.ttf") format('truetype');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url("https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpJ0EAVxt0G0biEntp43Qt6E.ttf") format('truetype');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url("https://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzC3USBnSvpkopQaUR-2r7iU.ttf") format('truetype');
}

@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url("https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9fEr6Hm6RMS0v1dtXsGir4g.ttf") format('truetype');
}

/*** uncss> filename: https://static.squarespace.com/universal/styles-compressed/commerce-7f4130fee43d9b486ac93410db2112d3-min.css ***/

.sqs-pill-shopping-cart {
  font: 400 normal 12px / 22px 'ProximaNova-Regular','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  letter-spacing: normal;
}

.sqs-pill-shopping-cart.sqs-scalable-hidden {
  display: none;
}

.sqs-pill-shopping-cart-content {
  min-width: 220px;
  border-radius: 30px;
  height: 26px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 18px;
  font-size: 12px;
  padding: 10px 15px;
}

.sqs-pill-shopping-cart .icon {
  height: 18px;
  width: 18px;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: 5px;
  margin-right: 10px;
  margin-left: 5px;
}

.sqs-pill-shopping-cart .details {
  float: none;
  text-transform: none;
  display: inline-block;
  letter-spacing: 0;
  line-height: normal;
  font-style: normal;
}

.sqs-pill-shopping-cart .subtotal {
  border: none;
  padding: 0;
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 14px;
}

.sqs-pill-shopping-cart .subtotal .price {
  font-size: 15px;
  font-weight: bold;
  max-width: 100px;
  float: right;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 22px;
}

.sqs-pill-shopping-cart-content.dark {
  box-shadow: 0 0 0 1px rgba(0,0,0,.085), 0 1px 0 0 rgba(0,0,0,.15);
  border: 1px solid rgba(255,255,255,.05);
  color: #ddd;
  background-color: #111;
  background-image: -o-linear-gradient(#1e1e1e,#040404);
  background-image: -moz-linear-gradient(#1e1e1e,#040404);
  background-image: -ms-linear-gradient(#1e1e1e,#040404);
  background-image: -webkit-linear-gradient(#1e1e1e,#040404);
  background-image: linear-gradient(#1e1e1e,#040404);
}

.sqs-pill-shopping-cart-content.dark .icon {
  background: transparent url('//static.squarespace.com/universal/images-v6/damask/cart-16-light.png') center center no-repeat;
}

@media (-webkit-min-device-pixel-ratio:2),(min-resolution:1.5dppx) {
  .sqs-pill-shopping-cart-content.dark .icon {
    background-image: url('//static.squarespace.com/universal/images-v6/damask/cart-32-light.png');
    background-size: 16px;
  }
}

.sqs-pill-shopping-cart-content.dark:hover {
  color: #fff;
}

@media only screen and (max-width:700px) {
  .sqs-pill-shopping-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    width: 100%;
  }

  .sqs-pill-shopping-cart-content {
    border-radius: 0px;
  }
}

#sqs-standard-checkout .sqs-checkout-form-section fieldset .field input.field-element:-moz-placeholder,
#sqs-standard-checkout .sqs-checkout-form-section fieldset .field textarea.field-element:-moz-placeholder {
  color: #ccc;
}

/*** uncss> filename: https://static1.squarespace.com/static/sitecss/5168880ee4b0af9d19df9a3b/468/515c7bd0e4b054dae3fcf003/5227fbf8e4b03f96f1b605b9/2689-05142015/1457737951651/site.css?&filterFeatures=false ***/

/*! Squarespace LESS Compiler  (less.js language v1.3.3)  */

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

footer,
header,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

strong {
  font-weight: bold;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*! Squarespace LESS Compiler  (less.js language v1.3.3)  */

.opera-only :-o-prefocus {
  word-spacing: -.43em;
}

body.native-currency-code-usd .sqs-money-native:before {
  content: '$';
}

@font-face {
  font-family: 'squarespace-ui-font';
  src: url('//static.squarespace.com/universal/fonts/squarespace-ui-font.eot');
  src: url('//static.squarespace.com/universal/fonts/squarespace-ui-font.eot?#iefix') format('embedded-opentype'),url('//static.squarespace.com/universal/fonts/squarespace-ui-font.svg#squarespace-ui-font') format('svg'),url('//static.squarespace.com/universal/fonts/squarespace-ui-font.woff') format('woff'),url('//static.squarespace.com/universal/fonts/squarespace-ui-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*IE9_SPLIT_MARKER*/

.sqs-search-container input:-moz-placeholder {
  color: #eee;
}

/*IE9_SPLIT_MARKER*/

/*! Squarespace LESS Compiler  (less.js language v1.3.3)  */

.sqs-row {
  width: auto !important;
}

.sqs-row:before,
.sqs-row:after {
  content: "";
  display: table;
}

.sqs-row:after {
  clear: both;
}

[class*=sqs-col] {
  float: left;
}

[class*=sqs-col] .sqs-block {
  padding-left: 17px;
  padding-right: 17px;
}

[class*=sqs-col]:last-child {
  padding-right: 0;
}

.sqs-col-12 {
  width: 100%;
}

.sqs-col-6 {
  width: 50%;
}

.sqs-col-6 .sqs-col-4 {
  width: 66.6667%;
}

.sqs-col-6 .sqs-col-2 {
  width: 33.3333%;
}

.sqs-col-4 {
  width: 33.3333%;
}

.sqs-col-2 {
  width: 16.6667%;
}

.sqs-layout > .sqs-row {
  margin-left: -17px;
  margin-right: -17px;
}

.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):first-child {
  padding-top: 0;
}

.sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):first-child {
  padding-top: 17px;
}

.sqs-layout:not(.sqs-editing)>.sqs-row:first-child>[class*=sqs-col]:first-child>.sqs-block:last-child,
.sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):last-child {
  padding-bottom: 17px;
}

.text-align-center {
  text-align: center;
}

.sqs-block {
  position: relative;
  height: auto;
  outline: 1px solid transparent;
  -webkit-transition: box-shadow .1s ease-in-out;
  -moz-transition: box-shadow .1s ease-in-out;
  -o-transition: box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  padding-top: 17px;
  padding-bottom: 17px;
}

.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown) {
  clear: both;
}

html .sqs-block.sqs-block-html .sqs-block-content {
  cursor: auto;
}

@font-face {
  font-family: 'squarespace-ui-font';
  src: url('//static.squarespace.com/universal/fonts/squarespace-ui-font.eot');
  src: url('//static.squarespace.com/universal/fonts/squarespace-ui-font.eot?#iefix') format('embedded-opentype'),url('//static.squarespace.com/universal/fonts/squarespace-ui-font.svg#squarespace-ui-font') format('svg'),url('//static.squarespace.com/universal/fonts/squarespace-ui-font.woff') format('woff'),url('//static.squarespace.com/universal/fonts/squarespace-ui-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.sqs-svg-icon--wrapper {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}

.sqs-svg-icon--wrapper>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sqs-svg-icon--wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sqs-svg-icon--wrapper {
  border-color: transparent;
}

.social-icons-size-large.social-icons-style-knockout .sqs-svg-icon--wrapper {
  width: 36px;
  height: 36px;
}

.social-icons-size-large.social-icon-alignment-center .sqs-svg-icon--wrapper {
  margin: 0 5px;
}

.social-icons-style-knockout.social-icons-shape-circle .sqs-svg-icon--wrapper {
  border-radius: 50%;
}

.sqs-svg-icon--wrapper {
  -webkit-transition: background-color 170ms ease-in-out;
  -moz-transition: background-color 170ms ease-in-out;
  -o-transition: background-color 170ms ease-in-out;
  transition: background-color 170ms ease-in-out;
}

.sqs-use--icon,
.sqs-use--mask,
.sqs-use--background {
  -webkit-transition: fill 170ms ease-in-out;
  -moz-transition: fill 170ms ease-in-out;
  -o-transition: fill 170ms ease-in-out;
  transition: fill 170ms ease-in-out;
}

.social-solid-icon-anim-out 0% {
  fill: #fff;
}

.social-solid-icon-anim-out 100% {
  fill: rgba(255,255,255,.4);
}

.social-solid-icon-anim-off 0% {
  fill: rgba(255,255,255,.4);
}

.social-solid-icon-anim-off 99% {
  fill: #fff;
}

.social-solid-icon-anim-off 100% {
  fill: rgba(255,255,255,0);
}

.social-solid-icon-anim-in 0% {
  fill: rgba(255,255,255,.4);
}

.social-solid-icon-anim-in 100% {
  fill: #fff;
}

.sqs-svg-icon--list.social-icon-alignment-center {
  text-align: center;
}

.social-icons-style-knockout .sqs-use--mask {
  fill: #fff;
}

.social-icons-style-knockout .sqs-use--background,
.social-icons-style-knockout .sqs-use--icon {
  fill: transparent;
}

.social-icons-style-knockout.social-icons-color-white .sqs-use--mask {
  fill: #fff;
}

.social-icons-style-knockout.social-icons-color-white .sqs-use--background,
.social-icons-style-knockout.social-icons-color-white .sqs-use--icon {
  fill: transparent;
}

.social-icons-style-knockout:hover .sqs-svg-icon--wrapper .sqs-use--mask {
  fill: rgba(255,255,255,.4);
}

.social-icons-style-knockout:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
  fill: #fff;
}

.social-icons-style-knockout.social-icons-color-white:hover .sqs-svg-icon--wrapper .sqs-use--mask {
  fill: rgba(255,255,255,.4);
}

.social-icons-style-knockout.social-icons-color-white:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
  fill: #fff;
}

@font-face {
  font-family: 'social-icon-font';
  src: url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.eot');
  src: url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.eot?#iefix') format('embedded-opentype'),url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.woff') format('woff'),url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.ttf') format('truetype'),url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.svg#social-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*IE9_SPLIT_MARKER*/

.sqs-block-image .image-block-outer-wrapper .image-block-wrapper img {
  max-width: none;
}

.sqs-block-image img {
  display: block;
}

.sqs-block-image .image-block-wrapper {
  line-height: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.sqs-block-image .image-block-wrapper img {
  max-width: 100%;
}

.sqs-block-image .intrinsic {
  margin: auto;
}

.sqs-block-image .intrinsic .image-block-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sqs-block-html {
  clear: none;
}

.sqs-block-html .sqs-block-content {
  outline: none;
}

.sqs-block-html .sqs-block-content>*:first-child {
  margin-top: 0;
}

.sqs-block-html .sqs-block-content>*:last-child {
  margin-bottom: 0;
}

.sqs-search-ui-button-wrapper.color-dark:-moz-placeholder {
  color: #666;
}

.sqs-search-ui-button-wrapper.color-dark::-moz-placeholder {
  color: #666;
}

.sqs-search-ui-button-wrapper.color-dark:-ms-input-placeholder {
  color: #666;
}

.sqs-search-ui-button-wrapper.color-light:-moz-placeholder {
  color: #ddd;
}

.sqs-search-ui-button-wrapper.color-light::-moz-placeholder {
  color: #ddd;
}

.sqs-search-ui-button-wrapper.color-light:-ms-input-placeholder {
  color: #ddd;
}

.sqs-search-ui-button-wrapper .search-input:hover:-moz-placeholder {
  font-style: normal;
}

.sqs-search-ui-button-wrapper .search-input:hover::-moz-placeholder {
  font-style: normal;
}

.sqs-search-ui-button-wrapper .search-input:hover:-ms-input-placeholder {
  font-style: normal;
}

.sqs-svg-icon--list.social-icon-alignment-center {
  text-align: center;
}

.social-icons-style-knockout .sqs-use--mask {
  fill: #fff;
}

.social-icons-style-knockout .sqs-use--background,
.social-icons-style-knockout .sqs-use--icon {
  fill: transparent;
}

.social-icons-style-knockout.social-icons-color-white .sqs-use--mask {
  fill: #fff;
}

.social-icons-style-knockout.social-icons-color-white .sqs-use--background,
.social-icons-style-knockout.social-icons-color-white .sqs-use--icon {
  fill: transparent;
}

.social-icons-style-knockout:hover .sqs-svg-icon--wrapper .sqs-use--mask {
  fill: rgba(255,255,255,.4);
}

.social-icons-style-knockout:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
  fill: #fff;
}

.social-icons-style-knockout.social-icons-color-white:hover .sqs-svg-icon--wrapper .sqs-use--mask {
  fill: rgba(255,255,255,.4);
}

.social-icons-style-knockout.social-icons-color-white:hover .sqs-svg-icon--wrapper:hover .sqs-use--mask {
  fill: #fff;
}

.newsletter-block .newsletter-form-field-element:-moz-placeholder {
  color: rgba(0,0,0,.3);
}

.newsletter-block .newsletter-form-field-element::-moz-placeholder {
  color: rgba(0,0,0,.3);
}

.newsletter-block .newsletter-form-field-element:-ms-input-placeholder {
  color: rgba(0,0,0,.3);
}

@font-face {
  font-family: 'social-icon-font';
  src: url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.eot');
  src: url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.eot?#iefix') format('embedded-opentype'),url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.woff') format('woff'),url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.ttf') format('truetype'),url('//static.squarespace.com/universal/fonts/social-20141119/social-icon-font.svg#social-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #272425;
  background-color: #171717;
  font-family: "PT Serif",Georgia,serif;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

.site-wrapper {
  background-color: #fff;
  overflow: hidden;
}

a,
a:visited {
  color: #f0668c;
  text-decoration: none;
}

.underline-body-links .sqs-block a,
.underline-body-links .sqs-block a:visited {
  text-decoration: underline;
}

a:hover,
a:focus {
  color: rgba(240,102,140,.7);
}

.underline-body-links .sqs-block a:hover,
.underline-body-links .sqs-block a:focus {
  text-decoration: none;
}

#header {
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 8001;
}

#header .site-title {
  color: #2b2b2b;
}

#header .site-title a,
#header .site-title a:visited {
  text-decoration: none;
  color: #2b2b2b;
}

#header .site-title a:hover,
#header .site-title a:focus {
  color: rgba(43,43,43,.7);
}

#header-wrapper {
  position: relative;
}

.banner-image {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sqs-cart-dropzone {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 8000;
}

h1,
h2,
h3 {
  margin: 1em 0 .5em;
  color: #272425;
}

h1 {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.2em;
  font-family: "ProximaNova-Regular";
  font-size: 3.1em;
  line-height: .9em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "ProximaNova-Regular";
  font-size: 1.8em;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: "Source Sans Pro",sans-serif;
  text-transform: uppercase;
  font-family: "ProximaNova-Regular";
  font-size: 18px;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
}

.title-nav-wrapper {
  display: table;
  width: 100%;
  margin: 0 auto;
  padding: 25px 80px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site-title {
  font-family: "Source Sans Pro",sans-serif;
  font-weight: normal;
  font-family: "ProximaNova-Regular";
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 12px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: table-cell;
  width: 30%;
  vertical-align: middle;
  line-height: 1em;
  z-index: 8002;
  position: relative;
}

.site-title img {
  max-height: 100px;
  max-width: 400px;
}

#desktopNav {
  display: table-cell;
  width: 70%;
  text-align: right;
  vertical-align: middle;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1em;
  position: relative;
  z-index: 8002;
}

.main-nav ul li {
  display: inline-block;
  position: relative;
  z-index: inherit;
}

.main-nav ul {
  font-size: 1.4em;
  text-align: right;
}

.main-nav ul li {
  text-align: right;
  margin: 0 0 0 30px;
}

.main-nav ul li a,
.main-nav ul li a:visited {
  color: #272425;
}

.main-nav ul li a span,
.main-nav ul li a:visited span {
  font-family: "Source Sans Pro",sans-serif;
  font-size: .85em;
  font-weight: 400;
  letter-spacing: 3px;
  font-family: "ProximaNova-Regular";
  font-size: 1.4em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  line-height: 2em;
}

.main-nav ul li a:hover,
.main-nav ul li a:focus {
  color: rgba(39,36,37,.7) !important;
}

#desktopNav .folder {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

#desktopNav .folder .folder-child-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  z-index: 11;
  margin-top: -5px;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child {
  font-size: 1em;
  display: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  width: 200px;
  position: relative;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child li {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 0 0 1px;
  border-style: solid;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child li:last-child {
  border-bottom-width: 0;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child li a {
  display: inline-block;
  padding: 12px;
}

#desktopNav .folder:hover ul.folder-child,
#desktopNav .folder .folder-child-wrapper:hover ul.folder-child,
#desktopNav .folder:active ul.folder-child,
#desktopNav .folder .folder-child-wrapper:active ul.folder-child {
  display: block;
}

#desktopNav .folder .folder-parent>a:first-child:before {
  font-size: 1.4em;
}

#desktopNav .folder .folder-child-wrapper {
  background-color: #fff;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 0 0 10px;
  border-style: solid;
  border-right: solid 10px transparent !important;
  border-left: solid 10px transparent !important;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child li:not(.active-link) a,
#desktopNav .folder .folder-child-wrapper ul.folder-child li:not(.active-link) a:visited {
  color: #272425;
}

#desktopNav .folder:hover .folder-child-wrapper {
  padding-top: 30px;
}

.title--description-position-over-image.title-background .title-desc-wrapper.has-main-image .page-title {
  color: #272425;
}

.title--description-position-over-image.title-background .title-desc-wrapper.has-main-image .page-desc {
  color: #fff;
  background-color: #272425;
  padding: 15px 20px;
}

.title-desc-wrapper {
  margin: 0;
  padding: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}

.page-title-wrapper {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
}

.title--description-position-over-image.title-background .title-desc-wrapper.has-main-image .page-title-wrapper {
  padding: 15px 20px;
  background-color: #b4e00d;
}

.title-desc-wrapper.has-main-image {
  min-height: 180px;
  overflow: hidden;
}

.title--description-position-over-image.title-background .title-desc-wrapper.has-main-image .title-desc-inner .page-desc {
  color: #fff;
  background-color: #272425;
}

.title--description-position-over-image.title-background .title-desc-wrapper.has-main-image .title-desc-inner h1.page-title {
  color: #272425;
}

.title-desc-inner {
  max-width: 60%;
  z-index: 100;
  position: relative;
}

h1.page-title {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 39px;
  letter-spacing: 7px;
  font-family: "ProximaNova-Regular";
  font-size: 4.7em;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-style: normal;
  max-width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  color: #272425;
  position: relative;
  z-index: inherit;
}

.page-desc {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 25px 0 0;
  max-width: 100%;
  color: #fff;
  position: relative;
  z-index: inherit;
}

.page-desc:empty {
  display: none;
}

#content-wrapper .content {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 50;
}

.content-inner {
  background-color: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 8%;
}

.back-to-top-link {
  display: none;
}

#footer {
  width: 100%;
  background-color: #171717;
  position: relative;
}

.footer-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 8%;
}

#mobileNav,
#mobileMenu {
  display: none;
  visibility: hidden;
}

.icon-menu {
  -webkit-transition: color .14s ease;
  -moz-transition: color .14s ease;
  -o-transition: color .14s ease;
  transition: color .14s ease;
}

.icon-menu:before {
  font-family: 'squarespace-ui-font';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  content: "\e030";
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.icon-menu:before {
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child {
  color: #f5f5f5;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child:before {
  color: #f5f5f5;
}

#desktopNav .folder .folder-child-wrapper ul.folder-child li {
  color: #f5f5f5;
}

.footer-wrapper {
  color: #fff;
}

.footer-wrapper a,
.footer-wrapper a:visited {
  text-decoration: underline;
  color: #fff;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/*! Squarespace LESS Compiler  (less.js language v1.3.3)  */

.title-nav-wrapper {
  padding-top: 2px;
  padding-bottom: 5px;
}

#desktopNav {
  padding-top: 0px;
}

.site-title img {
  max-width: 250px;
  max-height: 75px;
}

a:hover {
  color: #f0668c;
}

.external-link a {
  background: #b4e00d !important;
  color: #000 !important;
  text-decoration: none;
  padding: 8px 7px 4px 7px;
  -webkit-transition: background-color .1s ease-out;
  transition: background-color .1s ease-out;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.external-link a:hover {
  background-color: #d3eb76 !important;
  color: #fff !important;
  border-bottom: 0px solid #fff !important;
}

.content-inner {
  padding: 20px;
}


fieldset {
    border: 0 solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
    border-style: none;
}

#contentArea h3,
.main_content h3 {
    border-bottom: 0 none;
    color: #b4e00d;
    /*font: 300 1.85714em'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;*/
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0;

    font-family: "ProximaNova-Regular";
font-size: 1.8em;
line-height: 1.2em;
text-transform: none;
text-decoration: none;
letter-spacing: 0px;
font-weight: 700;
font-style: normal;
}




.related-links h3 {
    text-transform: uppercase;
    font-family: "ProximaNova-Regular";
    font-size: 18px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 .5em;
color: #272425;
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}


body:not(#forms) .addthis_toolbox {
    min-width: 11.25em;
    position:relative;
    right: 0;
}
